body{
    overflow: hidden;
    background-color: rgb(216, 245, 252);
}

body>.page{
    display: flex;
    flex-wrap: wrap;  
    /* 自动换行 */
}
body>.page > section{
    width: 50vw;
    height: 50vh;
    border: 1px solid #fff;
}
